.pollution-card {
  background: linear-gradient(145deg, #1e2538, #2b3550);

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  /* Frosted glass effect */
  background: rgba(25, 25, 36, 0.5); /* semi-transparent white */
  backdrop-filter: blur(10px) ;
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(120%);
  
  border-radius: 16px;
  color: #fff;
  border-radius: 12px;
  padding: 1rem 2rem;
  text-align: center;

  flex-shrink: 0;
  width: 7.5rem;
  padding: .5rem;
  min-height: 6rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
  cursor: pointer;
}

.pollution-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
}

.pollution-card__aqi {
  font-weight: bold;
  color: purple;
}